<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440165915867-m3ch0fou6h7td3un4d7akqqo3i8rirnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440165915867-m3ch0fou6h7td3un4d7akqqo3i8rirnk</string>
	<key>API_KEY</key>
	<string>AIzaSyD08ynxMC3vxCUrL_dY2Asa69jjNSbRSD4</string>
	<key>GCM_SENDER_ID</key>
	<string>440165915867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifyApp</string>
	<key>PROJECT_ID</key>
	<string>notifier-ba7d3</string>
	<key>STORAGE_BUCKET</key>
	<string>notifier-ba7d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440165915867:ios:19e0e3a165d79df61b80fe</string>
</dict>
</plist>