.status-dropdown {
    position: relative; width: 155px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: right;
    margin: 10px 0;
}
.status-dropdown .status {
    text-transform: uppercase;
    font-size: 12pt;
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.status-dropdown .oncampus {
    background-color: #4AC234;
}
.status-dropdown .offcampus {
    background-color: #E00D0D;
}

.status-dropdown .location {
    font-size:8pt;
    text-transform: none;
}
.selection-box {
    position: absolute;
    display: none;
    width: 400px;
    overflow-y: scroll;
    padding: 5px 15px;
    border: 1px solid #666;
    background: #eee;
    color: #666;
    font-size: 10pt;
    font-weight: normal;
    border-radius: 5px;
}

.selection-box p {
    font-size: larger;
}

.selection-box div.buttons {
    text-align: center;
    margin: 10px 0;
}